<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
  <%= stylesheet_link_tag "mail_engine/style" %>
  <%= javascript_include_tag "jquery", "rails" %>
  <%= csrf_meta_tag %>
  <title>Mail Engine Admin</title>
</head>

<body>
    <%= yield %>
</body>
</html>