<html>
  <head>
    <title></title>
  </head>
  <body>
    <div><%= raw render :partial => header_path %></div>
    <%= yield %>
    <div><%= raw render :partial => footer_path %></div>
  </body>
</html>