<div class="post">
  <div class="post-title">
    <h2>Editing Mail Schedule</h2>
  </div>
  <div class="post-body">
    <%= form_for( @mail_schedule, :url => mail_schedule_path(@mail_schedule) ) do |f| %>
      <%= render 'form', :f => f %>
    <% end %>
  </div>
  <br />
  <h2>
    <%= link_to 'Back', mail_schedules_path %>
    |
    <%= link_to 'Show', mail_schedule_path(@mail_schedule) %>
  </h2>
</div>